


<div class="container-fluid" style=" padding-right: 40px; padding-left: 20px;">
    <div class="row">
        <h4 style="margin-bottom:-2%; padding-top:52px ;font-size: 20px;font-weight: 700;">
            Vaswani Augusta Available Listings</h4>      
        <div class="row" 
        style="border: 1px solid #afafaf;
        box-shadow: 1px 0px 6px 1px #808080ad;margin-top:6%">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="/images/img6.webp" alt="" style="width: 105%; padding: 6% 0% 6% 0%;" >
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="row" style="border-left:1px solid orange;margin-top: 21px;">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" style="margin-left: 30px;margin-right: 70px;">
                        <h3>2ND FLOOR VASWANI AUGISTA</h3>
                        <hr>
                        <div class="row ProjectOverviewDetails ">
                            <ul style="width: 100%;">
                                <li style="width: 25%;">
                                    <small>Furnishing Status</small>
                                    <span>Furnished</span>
                                </li>
                                <li style="width: 25%; padding-left: 28px;">
                                    <small>Floor</small>
                                    <span>2</span>
                                </li>
                                <li style="width: 25%; padding-left: 28px;">
                                    <small>Available For</small>
                                    <span class="text-danger">Lease</span>
                                </li>
                                <li style="width: 25%; padding-left: 44px;" >
                                    <small>Rate / Sqft</small>
                                    <span> 20750 </span>
                                </li>
                            </ul>
                            <ul>
                                <li style="width:100%;margin-top:-36px;">
                                    <small>Building Facilities</small>
                                    <span>City Facing View,24*7 Electricity Supply</span>
                                </li>
                            </ul>
                        </div>
                

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>