


<div class="continer" >
    <div class="row" style="margin-left: 42px;margin-right: 15px;margin-top: 23px; letter-spacing: -0.1px;">
    
        <div class="row">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" style="text-decoration: none;color:gray">
                        <span>Commercial Properties</span>
                    </a>
                  </li>
                <li class="breadcrumb-item">
                    <a href="#" style="text-decoration: none;color:gray">
                        <span>Domlur</span>
                        
                    </a>
                  </li>
                  <li class="breadcrumb-item active">
                    <a href=""style="text-decoration: none;color: gray">
                        <span>Vaswani Augusta</span>
                    </a>
                  </li>
            
            </ul>
         
        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row" >
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img style="width: 103%;" src="/images/img1.webp" alt="">
            <div class="row" style="margin: 13px 49px 17px 46px;">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
                    <img src="/images/img2.webp" alt="" style="width: 115px; height: 66px;">
                </div>
                <div class="col-3 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <img src="/images/img3.webp" alt="" style="width: 115px; height: 66px;">
                </div>
                <div class="col-3 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <img src="/images/img4.webp" alt="" style="width: 115px; height: 66px;">
                </div>
                <div class="col-3 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <img src="/images/img5.webp" alt="" style="width: 115px; height: 66px;">
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="background-color: whitesmoke;">
            <div class="row" style="padding-left: 30px; margin-bottom: -16px;">
                <div class="col-9 ProjectNameTitle">
                    <h1>Vaswani Augusta</h1>
                    <p>
                        Located in 
                        <b>
                            <a href="" class="location-link">DOMLUR</a>

                        </b>
                    </p>

                </div>
                <div class="row ProjectOverviewDetails">
                    <ul>
                        <li>
                            <small>Availablity For</small>
                            <span>Lease</span>
                        </li>
                        <li>
                            <small>Completion Status</small>
                            <span>Ready To Move</span>
                        </li>
                        <li>
                            <small>Furnishing Status</small>
                            <span>Furnished</span>
                        </li>
                        <li>
                            <small>No Of Floors</small>
                            <span>3</span>
                        </li>
                        <li>
                            <small>Parking</small>
                            <span>on</span>
                        </li>
                        <li>
                            <small>Lift</small>
                            <span>on</span>
                        </li>
                        <li>
                            <small>OC</small>
                            <span>on</span>
                        </li>
                        <li>
                            <small>Overlooking</small>
                            <span>City View</span>
                        </li>
                        <li style="width: 100%;">
                            <small>Completed Address</small>
                            <span>
                                Khatha No. 1030/299/184/1 Challaghatta Village, Embassy Golf Links Road, Bengaluru, Karnataka
                            </span>
                        </li>
                    </ul>


                </div>

            </div>
        </div>

    </div>

</div>