



<div class="row" style="display: block;margin-left: 50px;">
    <h3 style="margin-top: 10px;font-size: 20px;margin-bottom: 29px;margin-left: -20px;">Vaswani Augusta Location</h3>

    <div class="row" style="display: block; ">
        <p style="font-size: 17px;margin-left: -36px">
            Khatha No. 1030/299/184/1 Challaghatta Village, Embassy Golf Links Road, Bengaluru, Karnataka
        </p>

    </div>
    <div class="loca">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3999478246033!2d77.645695113677!3d12.946240218939844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae147360b0737b%3A0xb2ee99feefc7d8ca!2sVaswani%20Augusta%20Ln%2C%20Embassy%20Golf%20Links%20Business%20Park%2C%20Challaghatta%2C%20Bengaluru%2C%20Karnataka%20560017!5e0!3m2!1sen!2sin!4v1679392682477!5m2!1sen!2sin" 
        width="750" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
