<div class="container-fluid">
    <div class="row " style="padding-left: 10px;padding-right: 10px;">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="row Discription">
                <h3 style="margin-top: 46px;margin-left: -20px;font-size: 20px;margin-bottom: 39px;">Vaswani Augusta Description</h3>
                <br>
                <p>
                    Imagine a stylish structure that’s brimming in the lap of Nature, With greenery 
                    so pristine that you can hear the Earth sing.
                </p>
                <p>
                    Directly overlooking the Karnataka Golf Association’s Championship Golf Course,  
                    Vaswani Augusta is a work space created to revolutionize the idea of an office. 
                    A Grade ‘A’ Commercial Office Space Development near the Embassy Golf Business 
                    Park and Hotel Hilton, Bangalore with state of the art architecture & design. 
                </p>
                <p>
                    This region primarily houses captive units of major  IT/ ITeS and BFSI companies 
                    like IBM, Goldman Sachs, Yahoo, 24×7 Customer, Microsoft, ANZ, Target Corporation, 
                    J P Morgan and others. 
                </p>
                <p>Current Space Available – 4414 sqft on floor First</p>

            </div>
            <div class="nearby" style="display: block;">
                <h3 style="margin-top: 10px;font-size: 20px;margin-bottom: 29px;margin-left: -6px;">Vaswani Augusta Neighbourhoods</h3>
                <div class="row nearby-category">
                    <h6 class="nearby-edit">Schools</h6>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Royal academy public school 
                            <p style="text-align: end;margin-top: -26px;">7.2 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Inspire Public School  
                            <p style="text-align: end;margin-top: -26px;">7.3 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2 "></i>
                            S.V.N English High School  
                            <p style="text-align: end;margin-top: -26px;">7.4 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            St. George Public School  
                            <p style="text-align: end;margin-top: -26px;">7.5 Km.</p>
                        </span>

                    </div>

                </div>
                <div class="row nearby-category">
                    <h6 class="nearby-edit">Colleges / University</h6>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            HKBK College of Engineering  
                            <p style="text-align: end;margin-top: -26px;">6.6 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Kristu Jayanti College   
                            <p style="text-align: end;margin-top: -26px;">7.7 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2 "></i>
                            Rashtrotthana P.U. College   
                            <p style="text-align: end;margin-top: -26px;">8.4 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            St Theresa Group Of institutions   
                            <p style="text-align: end;margin-top: -26px;">8.7 Km.</p>
                        </span>

                    </div>

                </div>
                <div class="row nearby-category">
                    <h6 class="nearby-edit">Shopping Malls</h6>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Elements Mall  
                            <p style="text-align: end;margin-top: -26px;">7.Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Bharatiya Mall of Bengaluru   
                            <p style="text-align: end;margin-top: -26px;">9.5 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2 "></i>
                            LuLu Shopping Mart   
                            <p style="text-align: end;margin-top: -26px;">9.9 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            RMZ Galleria Mall   
                            <p style="text-align: end;margin-top: -26px;">10.8 Km.</p>
                        </span>

                    </div>

                </div>
                <div class="row nearby-category" style="height: 81px;">
                    <h6 class="nearby-edit">Business Hub</h6>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " style="margin: 12px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Embassy Manyata Business Park  
                            <p style="text-align: end;margin-top: -26px;">7.2 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin: 12px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            L&T Tech Park   
                            <p style="text-align: end;margin-top: -26px;">9.3 Km.</p>
                        </span>

                    </div>
                    

                </div>
                <div class="row nearby-category">
                    <h6 class="nearby-edit">Hospitals</h6>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Surakshaa Hospital  
                            <p style="text-align: end;margin-top: -26px;">7.1 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin: 20px 0px -27px 0px;">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Chirayu Hospital   
                            <p style="text-align: end;margin-top: -26px;">7.4 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2 "></i>
                            Shree Manyata Hospitals   
                            <p style="text-align: end;margin-top: -26px;">7.5 Km.</p>
                        </span>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span style="font-size: 17px;font-weight: 500">
                            <i class="bi bi-check2"></i>
                            Prakruthi Multispeciality Hospital   
                            <p style="text-align: end;margin-top: -26px;">7.6 Km.</p>
                        </span>

                    </div>

                </div>

            </div>
            <br>
            <br>
                             

        </div>

    </div>

</div>