



<div class="container-floid">
    <div class="row" style="position:relative; left: 10px;">
        <h5 style="margin-bottom: 25px;font-size: 16px;font-weight: 700;">
            Ask Your Queries To Real Estate Professional</h5>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 ">
            <div class="Ask"  >
                <img id="ask-photo" src="/images/propfloor-logo.png" width="100px" height="100px">
                <p id="ask-words">
                    Yogesh Pandey is the Founder of Propfloor. He's a Passionate Real Estate Professional. He
                    has served industry's most Top-line companies… After serving to multiple real estate firms,
                    Yogesh identified that: There is no online platform which provides unbiased reviews, expert
                    advice to homebuyer’s queries and a platform for property seekers to get the best possible 
                    discounted price for the property. So, as a team, We started a new online &amp; offline platform
                    called Propfloor in the year 2013 along with a group of friends who had similar work
                    experience and a same kind of vision. Today, as a company, We are proud to state that we 
                    are the most trusted real estate platform for property seekers to get Lowest Price in the 
                    market along with Expert Advice. We are currently handling 500+ Real Estate Projects &amp; We
                    have successfully helped 7,000+ Property Seekers to identify their dream home at best-discounted
                    price through our Consulting &amp; Group Buy Model.
                </p>


            </div>

        </div>
     

    </div>
    <div class="row" style="position: relative; left: 10px; padding-top: 16px;">
        <h5>Frequently Asked Questions (FAQ's)</h5>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style="   padding-top: 15px; ">
            <div id="Questions">
                <p style="margin-left: 15px; margin-top: 16px;">
                    <b>Is It Available for Sale / Rent / Lease?</b>
                </p>
                <p style="padding-left: 50px;  font-family: Roboto, sans-serif;
                color: black;;">It is Available for Lease</p>


            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="what" style="position: relative; top: 15px; left: 10px;">
                <p style="padding-left: 33px;margin-top: 10px;">
                    <b>What is around the Building ?</b>
                </p>
                <p style="padding-left:50px;font-family: Roboto, sans-serif;
                color: black;">100 Mts - Challaghatta Bus Stop
                    Near Embassy Golf Link</p>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div id="where" style="position: relative; top: 30px; left: 10px;">
                <p style="margin-top: 6px;">
                    <b style="padding-left: 30px;">Where the Building is Located in Bangalore ?</b>
                </p>
                <p style="padding-left:50px;padding-right: 10px; font-family: Roboto, sans-serif;
                color: black;" >Vaswani Augusta is located in Domlur. Exactly In Khatha No. 1030/299/184/1 Challaghatta Village, Embassy 
                    Golf Links Road, Bengaluru, Karnataka</p>

            </div>

        </div>
         
    </div>

</div>