



<footer>
    <div class="row" style="background: #f1f1f1;padding: 35px;">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding-top: 15px;">
            <h5 style="text-align: center;font-size: 14px; color: black;">Top 10 Popular Tags</h5>

        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding-top: 15px;">
            <h5 style="text-align: center;font-size: 14px; color: black;">Top 10 Apartment in Hebbal</h5>

        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding-top: 15px;">
            <h5 style="text-align: center;font-size: 14px; color: black;">Top Locality in Bangalore</h5>

        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding-top: 15px;">
            <h5 style="text-align: center;font-size: 14px;color: black;">Benefit of Going through Propfloor</h5>

        </div>

    </div>
</footer>