





<header class="mainheader" style="display: block;">
    <div class="container-floid">
      <div class="row bg-dark" style="margin-left: 0px;margin-top: 0px;" >
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
              <i id="list" class="bi bi-list"></i>
             <a class="ps-5" href="#"> <img class="img" src="/images/propfloor-logo.png" width="" alt="Prop Floor Logo"></a>

          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
             <div class="SearchBox">
                  <div id="maindrop1" class="dropdown">
                      <!-- <button id="button1" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i id="location" class="bi bi-geo-alt-fill"></i>All   Cities
                      </button> -->
                      <button id="button1" class="dropbtn"><i id="location" class="bi bi-geo-alt-fill"></i>All   Cities<i class="bi bi-chevron-down"></i></button>
                      <div id="drop1" class="dropdown-content">
                        <a  href="#">Bangalore</a>
                        <a  href="#">Pune</a>
                        <a  href="#">Dubai</a>
                      </div>
                  </div>
              <div class="searchfield">
                  <!-- <div id="maindrop3"  class="myDIV"> -->
                      <a href="#"><input class="searchinput" id="searchinput" type="text" placeholder="Locality or Builder or Project Name"></a>
                      <!-- <div id="drop3" class="hide">
                            <a href="#"><h6 style="text-align: right;">Recently Visited</h6></a>
                            <a href="#"><small>SNN Clermont by SNN Builder</small></a>
                            <a href="#"><small>G Corp The Icon by G Corp Builder</small></a>
                            <a href="#"><h6 style="text-align: right;">Popular Project</h6></a> 
                            <a href="#"><h6 style="text-align: right;">Popular Tags</h6></a>

                      </div> --> 

                  <!-- </div> -->
                      
                      
                   
                      
                      
              </div>
                  <div  class="searchicon">
                      <i class="bi bi-search bi-bold"></i>

                  </div>
                 


             </div>
             


          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <div id="maindrop2" class="dropdown">
                  
                  <a style="color: white;"  href="#"><i class="bi bi-person"></i></a>
                  
                  <div id="drop2" class="dropdown-content"> 
                      <a  href="#">Customer Login</a>
                      <a  href="#">CP Login</a>
                      <a  href="#">Builder Login</a>
                      <a  href="#">Employee Login</a>
                  </div>
              </div>

          </div>

      </div>
       
    </div>

 </header>